.toast-container {
    position: absolute;
    top: 70px;
    right: 20px;
    z-index: 1050;
}

.sort-buttons a {
    color: gray;
}

.column-25p {
    width: 25%;
    word-wrap: break-word;
}

.book-cover {
    width: auto;
    height: 30vh;
}

.book-detail-title {
    margin-bottom: 20px;
}

.book-details {
    padding-left: 20px;
}

.book-details p {
    margin-bottom: 10px;
}

.book-summary {
    text-indent: 2em;
}
